# Some of the content of this file has been edited by Metaswitch, in the time
# period from December 2015 to the present time.

/libnss_ato.so.2
/libnss_ato_test
/build-stamp
debian/changelog
/BUILD/
/BUILDROOT/
/RPMS/
/SRPMS/
/SOURCES/
/SPECS/
